<!DOCTYPE html>
<html>
<head>
    <title>Map Display</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
    <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
</head>
<body>
    <div id="map" style="width: 100%; height: 600px;"></div>
    <script>
        var map = L.map('map').setView([-26.270759, 28.112268], 10);

        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
        }).addTo(map);

        fetch('/geojson')
            .then(response => response.json())
            .then(data => {
                L.geoJSON(data.data, {
                    style: function (feature) {
                        return {color: 'blue'};
                    },
                    onEachFeature: function (feature, layer) {
                        layer.bindPopup("CNC: " + feature.properties.CNC + "<br>" +
                                        "PPU: " + feature.properties.PPU + "<br>" +
                                        "SPU: " + feature.properties.SPU + "<br>" +
                                        "LPU: " + feature.properties.LPU + "<br>" +
                                        "Locality: " + feature.properties.locality + "<br>" +
                                        "Urban: " + (feature.properties.urban ? 'Yes' : 'No'));
                    }
                }).addTo(map);

                L.geoJSON(data.feeders, {
                    style: function (feature) {
                        return {color: 'red'};
                    },
                    onEachFeature: function (feature, layer) {
                        layer.bindPopup("Feeder ID: " + feature.properties.parent__id + "<br>" +
                                        "Total Urban: " + feature.properties.total_urban + "<br>" +
                                        "Total Rural: " + feature.properties.total_rural + "<br>" +
                                        "Total Customers: " + feature.properties.total_customers + "<br>" +
                                        "Total Transformers: " + feature.properties.total_transformers + "<br>" +
                                        "Percentage Urban: " + feature.properties.percentage_urban + "%" + "<br>" +
                                        "Percentage Rural: " + feature.properties.percentage_rural + "%");
                    }
                }).addTo(map);
            });
    </script>
</body>
</html>

