<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Feeders Classification Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <div class="navbar">
        <img src="{{ url_for('static', filename='images/logo.png') }}" alt="Logo">
        <a href="/">Home</a>
        <a href="/classification-map">Classification Map</a>
        <a href="/statistics">Statistics</a>
        <a href="/prediction">Prediction</a>
    </div>
    <div class="container">
        <h1>Feeders Classification Dashboard</h1>
        <div style="width: 100%; height: 800px;">
            <iframe width="100%" height="100%" src="https://app.powerbi.com/reportEmbed?reportId=93bb368f-5488-4ad3-b000-ffb669fa0d95&autoAuth=true&ctid=93aedbdc-cc67-4652-aa12-d250a876ae79" frameborder="0" allowfullscreen></iframe>
        </div>
    </div>
</body>
</html>
